extraSecretMounts:
  - name: secret-files
    mountPath: /certs
    secretName: local-001083-xyz-tls
    readOnly: true
    optional: false
    subPath: ""
  - name: grafana-oauth-secret
    mountPath: /etc/secrets/auth_generic_oauth
    secretName: grafana-oauth-secret
    readOnly: true
    optional: false
    subPath: ""
envFromSecrets:
  - name: grafana-postgres-db-postgresql-account-postgres
    prefix: POSTGRES_
    optional: false
env:
  GF_SERVER_ROOT_URL: "https://grafana.local.001083.xyz"
rbac:
  create: true
adminUser: admin
adminPassword: admin
sidecar:
  dashboards:
    enabled: true
    label: grafana_dashboard
    labelValue: 1
    searchNamespace: ALL
    provider:
      allowuiupdates: false
      foldersFromFilesStructure: true
  datasources:
    enabled: true
    label: grafana_datasource
    labelValue: 1
    searchNamespace: ALL
    provider:
      allowuiupdates: false
      foldersFromFilesStructure: true
grafana.ini:
  server:
    root_url: "https://grafana.local.001083.xyz"
  database:
    type: postgres
    host: grafana-postgres-db-postgresql-postgresql.monitoring.svc.cluster.local
    name: grafana
    user: ${POSTGRES_username}
    password: ${POSTGRES_password}
  auth:
    signout_redirect_url: "https://authentik.local.001083.xyz/application/o/grafana/end-session/"
    oauth_auto_login: true
  auth.generic_oauth:
    name: authentik
    enabled: true
    scopes: "openid profile email"
    auth_url: "https://authentik.local.001083.xyz/application/o/authorize/"
    token_url: "https://authentik.local.001083.xyz/application/o/token/"
    api_url: "https://authentik.local.001083.xyz/application/o/userinfo/"
    # Optionally map user groups to Grafana roles
    role_attribute_path: contains(groups, 'Grafana Admins') && 'Admin' || contains(groups, 'Grafana Editors') && 'Editor' || 'Viewer'
    client_id: $__file{/etc/secrets/auth_generic_oauth/client_id}
    client_secret: $__file{/etc/secrets/auth_generic_oauth/client_secret}
users:
  auto_assign_org: true
  auto_assign_org_id: 1
