extraSecretMounts:
  - name: secret-files
    mountPath: /certs
    secretName: local-001083-xyz-tls
    readOnly: true
    optional: false
    subPath: ""
envFromSecrets:
  - name: grafana-postgres-db-postgresql-account-postgres
    prefix: POSTGRES_
    optional: false
  - name: grafana-oauth-secret
    optional: false
env:
  - name: GF_SERVER_ROOT_URL
    value: "https://grafana.local.001083.xyz"
  - name: GF_AUTH_GENERIC_OAUTH_TOKEN_URL
    value: "http://authentik.authentik.svc.cluster.local/application/o/token/"
  - name: GF_AUTH_GENERIC_OAUTH_API_URL
    value: "http://authentik.authentik.svc.cluster.local/application/o/userinfo/"
rbac:
  create: true
adminUser: admin
adminPassword: admin
sidecar:
  dashboards:
    enabled: true
    label: grafana_dashboard
    labelValue: 1
    searchNamespace: ALL
    provider:
      allowuiupdates: false
      foldersFromFilesStructure: true
  datasources:
    enabled: true
    label: grafana_datasource
    labelValue: 1
    searchNamespace: ALL
    provider:
      allowuiupdates: false
      foldersFromFilesStructure: true
grafana.ini:
  server:
    root_url: "https://grafana.local.001083.xyz"
  database:
    type: postgres
    host: grafana-postgres-db-postgresql-postgresql.monitoring.svc.cluster.local
    name: grafana
    user: ${POSTGRES_username}
    password: ${POSTGRES_password}
  auth:
    signout_redirect_url: "https://authentik.company/application/o/grafana/end-session/"
    oauth_auto_login: true
  generic_oauth:
    name: authentik
    enabled: true
    tls_skip_verify_insecure: true
    client_id: ${GF_AUTH_GENERIC_OAUTH_CLIENT_ID}
    client_secret: ${GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET}
    auth_url: ${GF_AUTH_GENERIC_OAUTH_AUTH_URL}
    api_url: ${GF_AUTH_GENERIC_OAUTH_API_URL}
    token_url: authentik-app-server.authentik.svc.cluster.local/o/grafana/auth/generic/token
    scopes: "openid profile email offline_access"
    use_pkce: true
