envFromSecrets:
  - name: grafana-postgres-db-postgresql-account-postgres
    prefix: POSTGRES_
    optional: false
rbac:
  create: true
adminUser: admin
adminPassword: admin
sidecar:
  dashboards:
    enabled: true
    label: grafana_dashboard
    labelValue: 1
    searchNamespace: ALL
    provider:
      allowuiupdates: false
      foldersFromFilesStructure: true
  datasources:
    enabled: true
    label: grafana_datasource
    labelValue: 1
    searchNamespace: ALL
    provider:
      allowuiupdates: false
      foldersFromFilesStructure: true
grafana.ini:
  database:
    type: postgres
    host: grafana-postgres-db-postgresql-postgresql.monitoring.svc.cluster.local
    name: grafana
    user: ${POSTGRES_username}
    password: ${POSTGRES_password}
