sidecar:
  dashboards:
    enabled: true
    label: grafana_dashboard
    labelValue: 1
    searchNamespace: ALL
    provider:
      allowuiupdates: false
      foldersFromFilesStructure: true
  datasources:
    enabled: true
    label: grafana_datasource
    labelValue: 1
    searchNamespace: ALL
    provider:
      allowuiupdates: false
      foldersFromFilesStructure: true
