loki:
  schemaConfig:
    configs:
      - from: "2020-12-11"
        index:
          period: 24h
          prefix: index_
        object_store: azure
        schema: v13
        store: tsdb
  storage:
    bucketNames: 
      chunks: loki
    ruler: loki-ruler
    type: azure
    azure:
      accountName: mimirmetrics
      accountKey:  ${AZURE_STORAGE_ACCOUNT_KEY}
  extraArgs:
    - "-config.expand-env=true"
  extraEnvFrom:
    - secretRef:
      name: mimir-blob-sa-key
write:
  extraArgs:
    - "-config.expand-env=true"
  extraEnvFrom:
    - secretRef:
      name: mimir-blob-sa-key
read:
  extraArgs:
    - "-config.expand-env=true"
  extraEnvFrom:
    - secretRef:
      name: mimir-blob-sa-key
backend:
  extraArgs:
    - "-config.expand-env=true"
  extraEnvFrom:
    - secretRef:
      name: mimir-blob-sa-key
  
  gateway:
    enabled: true
  chunksCache:
    enabled: true

test:
  enabled: false
lokiCanary:
  enabled: false

deploymentMode: SimpleScalable

# Disable minio storage
minio:
  enabled: false
