minio:
  enabled: false

gateway:
  enabled: true
  enabledNonEnterprise: true

nginx:
  enabled: false
mimir:
  enterprise:
    enabled: false
  structuredConfig:
    common:
      storage:
        backend: filesystem
    blocks_storage:
      backend: filesystem
      filesystem:
        dir: "/data/mimir/blocks"
    compactor:
      data_dir: "/data/mimir/compactor"
    ruler_storage:
      backend: filesystem
      filesystem:
        dir: "/data/mimir/ruler"
    alertmanager_storage:
      backend: filesystem
      filesystem:
        dir: "/data/mimir/alertmanager"
