minio:
  enabled: false

gateway:
  enabled: true
  enabledNonEnterprise: true

mimir:
  enterprise:
    enabled: false
  structuredConfig:
    common:
      storage:
        backend: azure
        azure:
          account_name: mimirmetrics
          account_key: ${AZURE_STORAGE_ACCOUNT_KEY}
          container_name: mimir

    blocks_storage:
      azure:
        container_name: mimir-blocks

    alertmanager_storage:
      azure:
        container_name: mimir-alertmanager

    ruler_storage:
      azure:
        container_name: mimir-ruler

global:
  extraEnvFrom:
    - secretRef:
        name: mimir-blob-sa-key