minio:
  enabled: false

gateway:
  enabled: true
  enabledNonEnterprise: true

runtimeConfig:
  ingester_limits: # limits that each ingester replica enforces
    max_ingestion_rate: 20000
    max_series: 1500000
    max_tenants: 1000
    max_inflight_push_requests: 30000
mimir:
  enterprise:
    enabled: false
  structuredConfig:
    multitenancy_enabled: true
    common:
      storage:
        backend: azure
        azure:
          account_name: mimirmetrics
          account_key: ${AZURE_STORAGE_ACCOUNT_KEY}
          endpoint_suffix: blob.core.windows.net

    blocks_storage:
      backend: azure
      azure:
        container_name: mimir-blocks

    alertmanager_storage:
      backend: azure
      azure:
        container_name: mimir-alertmanager

    ruler_storage:
      backend: azure
      azure:
        container_name: mimir-ruler
  ingester:
    replicas: 3
    persistentVolume:
      size: 20Gi
    resources: {}
    zoneAwareReplication:
      enabled: false






global:
  extraEnvFrom:
    - secretRef:
        name: mimir-blob-sa-key