minio:
  enabled: false

gateway:
  enabled: true
  enabledNonEnterprise: true

nginx:
  enabled: false
mimir:
  enterprise:
    enabled: false
  structuredConfig:
    common:
      storage:
        backend: filesystem
    blocks_storage:
      backend: filesystem
    ruler_storage:
      backend: filesystem
    alertmanager_storage:
      backend: filesystem