apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: default
spec:
  project: default  
  source:
    repoURL: https://github.com/traefik/traefik-helm-chart.git
    chart: traefik
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik