# password for traefik dashboard
apiVersion: v1
kind: Secret
metadata:
  name: traefik-dashboard-auth
  namespace: traefik
type: Opaque
data:
  users: YW5kcmV3OiRhcHIxJEhMVXhWc25xJDgwVUNvMHJHSlplVlN6elJnVzIydTEKCg

