globalArguments:
  - "--global.sendanonymoususage=false"
  - "--global.checknewversion=false"
additionalArguments:
  - "--serversTransport.insecureSkipVerify=true"
deployment:
  enabled: true
  replicas: 3
  annotations: {}
  podAnnotations: {}
  additionalContainers: []
  initContainers: []
ports:
  web:
    port: 80
    hostPort: 80
    targetPort: 8080
  websecure:
    port: 443
    hostPort: 443
    targetPort: 8443
    tls:
      enabled: true
ingressRoute:
  dashboard:
    enabled: true
providers:
  kubernetesCRD:
    enabled: true
    ingressClass: traefik-external
    allowExternalNameServices: true
    allowCrossNamespace: true
  kubernetesIngress:
    enabled: true
    allowExternalNameServices: true
    publishedService:
      enabled: false
rbac:
  enabled: true
logs:
  general:
    level: "DEBUG"
  access:
    enabled: true
service:
  enabled: true
  type: LoadBalancer
  annotations:
    metallb.universe.tf/address-pool: metallb-ipaddresspool
    service.beta.kubernetes.io/metal-lb: "true"
  labels: {}
  spec: # this should be an IP in the MetalLB range
    loadBalancerIP: 192.168.1.240
  loadBalancerSourceRanges: []
  externalIPs: []
securityContext:
  capabilities:
    add:
      - NET_BIND_SERVICE
