global:
  volumeMounts:
    - name: authentik-secret
      mountPath: /certs
  volumes:
    - name: authentik-secret
      secret:
        secretName: local-001083-xyz-tls
  env:
    - name: AUTHENTIK_POSTGRESQL__PASSWORD
      valueFrom:
        secretKeyRef:
          name: authentik-conn-credential
          key: password
    - name: AUTHENTIK_REDIS__PASSWORD
      valueFrom:
        secretKeyRef:
          name: authentik-redis-conn-credential
          key: password
    - name: AUTHENTIK_POSTGRESQL__HOST
      valueFrom:
        secretKeyRef:
          name: authentik-conn-credential
          key: host
    - name: AUTHENTIK_POSTGRESQL__PORT
      valueFrom:
        secretKeyRef:
          name: authentik-conn-credential
          key: port
    - name: AUTHENTIK_POSTGRESQL__USER
      valueFrom:
        secretKeyRef:
          name: authentik-conn-credential
          key: username
    - name: AUTHENTIK_REDIS__HOST
      valueFrom:
        secretKeyRef:
          name: authentik-redis-conn-credential
          key: host
    - name: AUTHENTIK_REDIS__PORT
      valueFrom:
        secretKeyRef:
          name: authentik-redis-conn-credential
          key: port
    - name: AUTHENTIK_REDIS__USERNAME
      valueFrom:
        secretKeyRef:
          name: authentik-redis-conn-credential
          key: username
authentik:
  secret_key: "8Hnh4RkBD0wcC+O1LOKvW9/RxB218uXM27Kz2PR/CzpaPtZdLq07Cg+k4aQjr7lxrzJnuI4FW/tulTCJ"
  # bootstrap_token: "test"
  # bootstrap_password: "test"
  # This sends anonymous usage-data, stack traces on errors and
  # performance data to sentry.io, and is fully opt-in
  error_reporting:
    enabled: false
    # We don't need to define these since we're using environment variables
    # postgresql:
    #   password: ""
    #   host: ""
    #   name: "authentik"
    #   port: ""
    #   user: ""
    # redis:
    #   password: ""
    #   host: ""
server:
  ingress:
    enabled: false
postgresql:
  enabled: false
redis:
  enabled: false
