all:
  vars:
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no'

# control_plane:
#   hosts:
#     k3s-server-1:
#       ansible_host: 192.168.1.100
#       ansible_user: adminuser
#       ansible_ssh_private_key_file: /users/andrewcichewicz/.ssh/k3s_key.pem
    # k3s-server-2:
    #   ansible_host: 192.168.1.101
    #   ansible_user: adminuser
    #   ansible_ssh_private_key_file: /users/andrewcichewicz/.ssh/k3s_key.pem
    # k3s-server-3:
    #   ansible_host: 192.168.1.102
    #   ansible_user: adminuser
    #   ansible_ssh_private_key_file: /users/andrewcichewicz/.ssh/k3s_key.pem

control_plane:
  hosts:
    k3s-server-1:
      ansible_host: 192.168.1.120
      ansible_user: adminuser
      ansible_ssh_private_key_file: /users/andrewcichewicz/.ssh/k3s_key.pem
    k3s-server-2:
      ansible_host: 192.168.1.121
      ansible_user: adminuser
      ansible_ssh_private_key_file: /users/andrewcichewicz/.ssh/k3s_key.pem
    k3s-server-3:
      ansible_host: 192.168.1.122
      ansible_user: adminuser
      ansible_ssh_private_key_file: /users/andrewcichewicz/.ssh/k3s_key.pem
    # k3s-worker-4:
    #   ansible_host: 192.168.1.123
    #   ansible_user: adminuser
    #   ansible_ssh_private_key_file: /users/andrewcichewicz/.ssh/k3s_key.pem
    # k3s-worker-5:
    #   ansible_host: 192.168.1.124
    #   ansible_user: adminuser
    #   ansible_ssh_private_key_file: /users/andrewcichewicz/.ssh/k3s_key.pem
      
