apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  project: default
  sources:
    - repoURL: 'https://prometheus-community.github.io/helm-charts'
      targetRevision: 66.3.1
      chart: kube-prometheus-stack
      helm:
        releaseName: kube-prometheus-stack
        values: |
          prometheus:
            prometheusSpec:
              remoteWrite:
              - url: http://mimir-distributor.monitoring.svc:8080/api/v1/push
                headers:
                  X-Scope-OrgID: clusterOne
                queueConfig:
                  capacity: 5000
                  minShards: 1
                  maxShards: 50
                  maxSamplesPerSend: 1000
          grafana:
            enabled: false  
            forwardProxy:
              enabled: false
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true 